                    <div class="col--thumbnail">
                        <figure class="thumbnail">
                            <img src="images/thumbnail/thumbnail7-500.jpg" class="thumbnail__image" alt="">
                            <figcaption class="thumbnail__caption">
                                <p>Couples</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col--thumbnail">
                        <figure class="thumbnail">
                            <img src="images/thumbnail/thumbnail2-500.jpg" class="thumbnail__image" alt="">
                            <figcaption class="thumbnail__caption">
                                <p>Families</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col--thumbnail">
                        <figure class="thumbnail">
                            <img src="images/thumbnail/thumbnail6-500.jpg" class="thumbnail__image" alt="">
                            <figcaption class="thumbnail__caption">
                                <p>Children</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col--thumbnail">
                        <figure class="thumbnail">
                            <img src="images/thumbnail/thumbnail8-500.jpg" class="thumbnail__image" alt="">
                            <figcaption class="thumbnail__caption">
                                <p>Maternity</p>
                            </figcaption>
                        </figure>
                    </div>