/*==========================================================================
  Footer
  ========================================================================== */

footer {
  width: 100%;
  padding: 3rem 0;
  background: $footer-background;
}

.copyright {
    display: block;
    line-height: 40px;
}